* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #444;
  width: 800px;
  margin: 0 auto;
}

.light {
  background-color: #fff;
  color: #543;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
}
.main .main__paragraph1, .main .main__paragraph2 {
  font-size: 1.2rem;
}
.main .main__paragraph1:hover, .main .main__paragraph2:hover {
  color: #ff45ff;
}
.main .main__paragraph2:hover {
  color: #45ff45;
}

.box {
  width: 80px;
  height: 50px;
  border: 1px grey solid;
  display: inline-block;
}

.box-1 {
  background-color: #e6e6e6;
}

.box-2 {
  background-color: #cccccc;
}

.box-3 {
  background-color: #b3b3b3;
}

.box-4 {
  background-color: #999999;
}

.box-5 {
  background-color: gray;
}

.box-6 {
  background-color: #666666;
}

.box-7 {
  background-color: #4d4d4d;
}

.box-8 {
  background-color: #333333;
}

.box-9 {
  background-color: #1a1a1a;
}

.box-10 {
  background-color: black;
}